.title {
	color: white;
	background-color: #021C1E;
	margin: 0px;
}

.button .button-positive{
	color: white;
	background-color: #000873;
}

.p{
	padding: 10px 5px 10px 5px;

}

.no_ul{
	text-decoration: none;
}


.ion-nav-bar{
	color: white;
	background-color: #000000;
}