<section data-ng-controller="ProfileController">
    <ion-view class="background">
    <ion-nav-title class="title" style="font-weight:bold">About Us</ion-nav-title>
        <ion-content padding="true">
        <p class="text-style">SR Projects 2015-2016 <br> Teacher: Judith Stafford <br>TA: Rick Parker <br><br>Ben Kadlec (Uber): Project Sponsor <br>Matthias Sainz: Team Lead <br>Cris Salazar: Documentation <br> Chris Meyer: Depoloyment <br> Irakli Zhuzhunashvili: Source Code Control <br> Stefan Knott: Data Architect <br> Deep Desai: Testing</p>
    	</ion-content>
	</ion-view>
</section>