<ion-view view-title="Payment" class="background">
    <ion-content class="padding">

        <label class="item item-input">
            <span class="input-label">Uber Price</span>
            <input type="number" ng-model="price">
        </label>
        <button ng-click="calculatePrices()">Calc!</button>
        <p>
            Make Payment!
            <button class="button" ng-click="launchPaypal()">Paypal</button>
            <button class="button" ng-click="launchVenmo()">Venmo</button>
        </p>
    </ion-content>
</ion-view>
