<ion-tabs class="tabs-icon-only" class="background">

  <!-- Ride Tab -->
  <ion-tab title="NewRide" icon="ion-home" ui-sref="tabs.ride_home" >
     <ion-nav-view name="ride-tab"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon="ion-bookmark" ui-sref="tabs.ride_history">
     <ion-nav-view name="history-tab"></ion-nav-view>
   </ion-tab>

  <!-- Settings Tab -->
  <ion-tab icon="ion-gear-b" ui-sref="tabs.profile">
     <ion-nav-view title="Profile" name="profile-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
