<ion-view view-title="New Ride" class="background">
  <ion-content class="padding">
      <ion-list show-delete="shouldShowDelete">


          <ion-item-sliding>
              <ion-item ng-repeat="f in data.friends">
                  <h2>{{ f.name }}</h2>
                  <ion-option-button class="button-assertive" ng-click="removeFromRide(f)">Delete</ion-option-button>
              </ion-item>

              <!--<ion-item-options>-->
                  <!--<button danger (click)="removeItem()"><icon trash></icon> Delete</button>-->
              <!--</ion-item-options>-->

          </ion-item-sliding>

              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="search" placeholder="Search" ng-model="searchText" ng-keyup="searchForFriend(searchText)">
              </label>

          <ion-item ng-repeat="f in data.searchList" ng-click = "addToRide(f)">
              <div>+ {{ f.name }}</div>
          </ion-item>

        <ion-list show-delete="shouldShowDelete">
            <ion-item-sliding>
                <ion-item ng-repeat="f in data.friends">
                    <h2>{{ f.name || f.id }}</h2>
                    <p>{{f.status}}</p>
                    <ion-option-button class="button-assertive" ng-click="removeFromRide(f)">Delete</ion-option-button>
                </ion-item>
            </ion-item-sliding>
        </ion-list>

        <button class="button button-full button-style" ng-click="continue()">Continue</button>

    </ion-content>
</ion-view>
