<ion-view view-title="New Ride">
  <ion-content class="padding">
      <!--<ion-list>-->
          <div collection-repeat="f in data.friends" divider-collection-repeat>
              <ion-item>
                  <div>{{ f.name }}</div>
              </ion-item>
          </div>
          <div >
              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="search" placeholder="Search" ng-model="searchText" ng-keyup="searchForFriend(searchText)">
              </label>
          </div >
          <div  collection-repeat="f in data.searchList" divider-collection-repeat>
              <ion-item ng-click = "addToRide(f)">
                <div>{{ f.name }}</div>
              </ion-item>
          </div >
      <!--</ion-list>-->

     <!--<button class="button" ng-click="addNumber()">Friend</button>-->
     <!--<button class="button" ng-click="addFromContactsList()">Add From Contacts</button>-->
     <!--<button class="button" ng-click="continue()">Continue</button>-->
     <!--<button class ="button" ng-click="completedRide()">completed_ride</button>-->

     <!--<select-list friends="friends"></select-list>-->

  </ion-content>
</ion-view>
