<ion-view view-title="Pending Ride" class="background">
    <ion-content class="padding">

        <uber-map></uber-map>

        <friends-list></friends-list>

        <ion-list show-delete="shouldShowDelete">
            <ion-item-sliding>
                <ion-item ng-repeat="f in data.friends">
                    <h2>{{ f.name || f.id }}</h2>
                    <p>{{f.status}}</p>
                    <ion-option-button class="button-assertive" ng-click="removeFromRide(f)">Delete</ion-option-button>
                </ion-item>
            </ion-item-sliding>
        </ion-list>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Ride with Uber
                </div>
                <select id="rideEstimates" ng-model="rideEstimatesList" ng-options="product as product.display_name + ': ' + product.estimate for product in data.rideEstimates">
                </select>
            </label>
        </div>
        <p>You're ordering {{rideEstimatesList.display_name}}</p>
        <p>The following users have accepted: {{accepted_friends.ride_users[0].phone}}</p>

        <button class="button button-full button-style" ng-click="startRide(rideEstimatesList.product_id)">Start!</button>

    </ion-content>
</ion-view>
