<ion-view view-title="Ride">
  <ion-content>

      <ui-gmap-google-map
          center="myCenter.center"
          zoom='myCenter.zoom'
          refresh="myCenter.reload"
      >
          <!--  <ui-gmap-marker
                idKey='1'
                coords='{myPosition}'
            >
            </ui-gmap-marker> -->
      </ui-gmap-google-map>

    <div style="height: 100%; position: absolute"></div>

    <div>
      <button class="button button-full" ng-click="startNewRide()">New Ride</button>
    </div>
  </ion-content>
</ion-view>
