<ion-view view-title="Ride Final" class="background">
    <ion-content class="padding">
        <div class="bar bar-header">
            <h2 style="color: white;">Status:</h2>
        </div>

        <ion-list show-delete="shouldShowDelete">
            <ion-item-sliding>
                <ion-item ng-repeat="f in data.displayStatus.pickedUp">
                    <h2>{{ f.phone || f.user_id }}</h2>
                    <p>{{f.status}}</p>
                </ion-item>
            </ion-item-sliding>
        </ion-list>

        <div class="bar bar-header">
            <h2 style="color: white;">Next location</h2>
        </div>

        <ion-list show-delete="shouldShowDelete">
            <ion-item-sliding>
                <ion-item>
                    {{data.displayStatus.nextLocation}}
                </ion-item>
            </ion-item-sliding>
        </ion-list>

    </ion-content>
</ion-view>
