<section ng-controller="AuthenticationController">
    <ion-view title="Sign in">
        <ion-content>
            <!-- TODO don't submit form on state change -->
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" id="username" name="username"
                       data-ng-model="credentials.username" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" id="password" name="password"
                       data-ng-model="credentials.password" placeholder="Password">
            </label>

            <div class="text-center">
            <button ng-click="signin()" class="button button-positive">Sign In</button>
            <button class="button button-positive" ng-click="signup()">Sign Up</button>
        </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>

        </ion-content>
    </ion-view>
</section>
