<section data-ng-controller="AuthenticationController">
    <ion-view class="background">
    <ion-nav-title align-title="center" class="title" style="font-weight:bold">Sign Up</ion-nav-title>
        <ion-content padding="true">
            <form name="userForm" data-ng-submit="finishSignup()" class="form-background">
                    <label class="item item-input">
                        <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
                    </label>
                    <label class="item item-input">
                        <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                    </label>
                    <label class="item item-input">
                        <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                    </label>
                    <label class="item item-input">
                        <input type="text" id="userName" name="userName" class="form-control" data-ng-model="credentials.username" placeholder="User Name">
                    </label>
                    <label class = "item item-input">
                        <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                    </label>
                    <label class="item item-input">
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" data-ng-model="credentials.phoneNumber" placeholder="Phone Number">
                    </label>

                    <!--<div class="text-center">-->
                        <button type="submit" class="button button-full button-style">Link Uber</button>
                    <!--</div>-->

                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div>
                        {{authRes}}
                    </div>
            </form>


        </ion-content>
            </ion-view>

</section>
