<section data-ng-controller="AuthenticationController">
  <ion-view title="Sign Up">
    <ion-content>
      <label class="item item-input">
        <span class="input-label">UserName</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Phone Number</span>
        <input type="tel">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
      <button class="button button-positive" ng-click="finishSignup()">Finish</button>
    </ion-content>
  </ion-view>
</section>
