<section data-ng-controller="PasswordController">
 <ion-view class="background">
 <ion-nav-title class="title" style="font-weight:bold">Password Reset</ion-nav-title>
    <ion-content padding="true">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="askForPasswordReset()" class="signin form-background" autocomplete="off">
				<div class="form-group p item-input">
					<input type="text" id="username" name="username" class="form-control item-input" data-ng-model="credentials.username" placeholder="Username">
				</div>
						<div class="text-center">
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
				<div class="text-center form-group">
				<button type="submit" class="button button-style button-full p">Submit</button>
				</div>
		</form>
	</div>
</ion-content>
</ion-view>
</section>