<section data-ng-controller="PasswordController">
 <ion-view title="Password Reset">
    <ion-content padding="true">
	<p class="small text-center">Enter your account username:</p>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group p">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
						<div class="text-center">
					<button type="submit" class="button button-positive button-full p">Submit</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</ion-content>
</ion-view>
</section>